body {
    margin: 0;
    padding: 0;
    
}

.one {
  background: url("bac.jpg");
  background-size: cover;
 background-repeat: no-repeat;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  height: 400px;
  background-attachment: fixed;
 
  
}


.one p{
    color: black;
    text-align: left;
    font-size: 28px;
    
}


.typing {
  font-size: 35px;
  white-space: nowrap;
  overflow: hidden; /* Hides the overflowing text */
  border-right: 3px solid black; /* Cursor effect */
  animation: typing 4s steps(40, end) 1s infinite, blink-caret 0.75s step-end infinite;
  z-index: -1;
}

@keyframes typing {
  0% { width: 0; }
  50% { width: 100%; } /* Full text visible */
  100% { width: 0; } /* Hide text (backspacing) */
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: black; }
}



.blinker{
  animation: blinker 1s linear infinite;
}

@keyframes blinker { 50%   { opacity: 0;

}
  
}




button{
  padding: 15px;
  font-size: 20px;
  margin: 20px;
  background-color: red;
  border-radius: 25px;
}




